<template>
  <el-dialog :visible.sync="dialog" append-to-body title="封禁.禁言" width="40%">
    <!-- 搜索 -->
    <div class="head-container">
      <el-form ref="form" :model="form" size="small">
        <el-form-item label="冻结期限:" prop="keywords" width="40%">
          <el-select v-model="query.isSuccess" placeholder="冻结期限" clearable size="small" class="filter-item" @change="toQuery">
            <el-option v-for="item in enabledTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>

        <el-form-item label="封排行榜:" prop="banrank" width="40%">
          <el-checkbox v-model="query.banrank"/>
        </el-form-item>

          <el-form-item label="冻结理由:" prop="reason" width="40%">
            <el-input type="textarea" v-model="query.reason" style="width: 80%"></el-input>
          </el-form-item>
   
        <el-form-item>
          <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
          <el-button class="filter-item" size="mini" type="primary" icon="el-icon-refresh" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    
  </el-dialog>
</template>

<script>
import crud from '@/mixins/crud'
export default {
  mixins: [crud],
  data() {
    return {
      title: '冻结期限',
      errorInfo: '', errorDialog: false,
      enabledTypeOptions: [
        { key: 3, display_name: '3小时' },
        { key: 24, display_name: '24小时' },
        { key: 48, display_name: '48小时' },
        { key: 72, display_name: '72小时' },
        { key: 25920, display_name: '25920小时' },
      ]
    }
  },
  created() {
    this.query.isSuccess = this.enabledTypeOptions[0].key
  },
  methods: {
    doInit(uids) {
      this.$nextTick(() => {
        this.init()
      })
    },
    // 获取数据前设置好接口地址
    beforeInit() {
      this.url = 'api/jobs/logs'
      this.size = 6
      return true
    },
    // 异常详情
    info(errorInfo) {
      this.errorInfo = errorInfo
      this.errorDialog = true
    },
    resetQuery() {
      this.query.value.resetFields();
      this.query.pageNum = 1;
      this.query.deptId = undefined;
      handleQuery();
    }
  }
}
</script>

<style scoped>
  .java.hljs{
    color: #444;
    background: #ffffff !important;
  }
  ::v-deep .el-dialog__body{
    padding: 0 20px 10px 20px !important;
  }
</style>
