<template>
  <div v-if="crud.props.searchToggle">
    <el-input v-model="query.uid" clearable size="small" placeholder="输入Uid搜索" style="width: 200px;" class="filter-item" @keyup.enter.native="crud.toQuery" />
    <el-input v-model="query.nick_name" clearable size="small" placeholder="输入 nick_name 搜索" style="width: 200px;" class="filter-item" @keyup.enter.native="crud.toQuery" />
    <el-input v-model="query.open_id" clearable size="small" placeholder="输入 open_id 搜索" style="width: 200px;" class="filter-item" @keyup.enter.native="crud.toQuery" />
    <!-- multiple 多选 -->
    <el-select v-model="query.sid" clearable size="small" placeholder="状态" class="filter-item" style="width: 90px" default-first-option filterable multiple @change="crud.toQuery">
      <el-option v-for="item in serv.serv.status" :key="item.sid" :label="item.name" :value="item.sid" />
    </el-select>
    <rrOperation :crud="crud"/>
  </div>
</template>

<script>
import { header } from '@crud/crud'
import rrOperation from '@crud/RR.operation'
export default {
  components: { rrOperation },
  mixins: [header()],
  props: {
    serv: {
      type: Object,
      required: true
    },    
  },
}
</script>
