<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <eHeader :serv="serv" />
      <crudOperation>
        <!-- 任务日志 -->
        <el-button slot="right" class="filter-item" size="mini" type="warning" icon="el-icon-error" @click="banDialog">冻结</el-button>
      </crudOperation>
      <BanDialog ref="ban_dialog" />
    </div>
    <!--表格渲染-->
    <el-table ref="table" v-loading="crud.loading" :data="crud.data" style="width: 100%;" @selection-change="crud.selectionChangeHandler">
      <el-table-column :selectable="checkboxT" type="selection" width="55"/>
      <el-table-column v-if="columns.visible('open_id')" prop="open_id" label="平台ID" />
      <el-table-column v-if="columns.visible('sub_platform')" prop="sub_platform" label="渠道"/>
      <el-table-column v-if="columns.visible('serverid')" prop="serverid" label="服务器"/>
      <el-table-column v-if="columns.visible('uid')" prop="uid" label="uid" align="center"/>
        
      <el-table-column v-if="columns.visible('nick_name')" prop="nick_name" label="角色名"/>
      <el-table-column v-if="columns.visible('base_level')" prop="base_level" label="等级"/>
      <el-table-column v-if="columns.visible('create_date')" prop="create_date" label="注册时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.create_date) }}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="columns.visible('vip')" prop="vip" label="vip"/>
      <!--   编辑与删除   -->
      <el-table-column v-if="checkPermission(['admin','user:show'])" label="操作" width="160px" align="center" fixed="right">
        <template slot-scope="scope">
          <el-button v-permission="['admin','user:show']" size="mini" type="primary" icon="el-icon-edit" @click="roleDetail(scope.row.serverid,scope.row.uid)">
              查看
          </el-button>          
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <pagination />
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
import crudRole from '@/api/data/role'
import eHeader from './header'
import BanDialog from './ban_dialog'
import CRUD, { presenter } from '@crud/crud'
import crudOperation from '@crud/CRUD.operation'
import pagination from '@crud/Pagination'
import udOperation from '@crud/UD.operation'
import { parseTime } from '@/utils/index'
import show from './show'

// crud交由presenter持有
const crud = CRUD({
  title: '角色列表',
  url: 'data/role',
  sort: ['id,desc'],
  debug:true,
  crudMethod: { ...crudRole },
  optShow: {
    add: false,
    edit: false,
    del: false
  }
})

export default {
  name: 'Users',
  components: { BanDialog,eHeader, crudOperation, pagination, udOperation, show },
  mixins: [presenter(crud)],
  // 数据字典
  servs: ['status'],
  data() {
    return {} 
  },  
  methods: {
    // 新增编辑前做的操作    
    /*
    [CRUD.HOOK.beforeToCU](crud, form) {
      this.initSelect();
      const deploys = [];
      form.deploys.forEach(function (deploy, index) {
        deploys.push(deploy.id);
      });
      this.form.deploys = deploys;
    },
    
    // 点击提交前
    [CRUD.HOOK.beforeSubmit]() {
      const deploys = [];
      this.query.deploys.forEach(function (data, index) {
        const deploy = { id: data };
        deploys.push(deploy);
      });
      this.query.deploys = deploys;
      console.log(this.query.deploys);
      return false;
    },
    */
    // 改变状态
    checkPermission,
    roleDetail(sid,uid){
      // 跳转至订单列表页面传参
      this.$router.push({
          path: '/data/show',
          query: { sid, uid}
      }) // 带参跳转
    },     
    // 显示日志
    banDialog() {
      if (this.crud.selections.length === 0) {
        this.$message({
          message: '请选择一条数据',
          type: 'warning'
        })
        return
      }
      // 获取选择内容
      let uids = this.crud.selections.map(item => item.uid)
      console.log(uids)
      //console.log(this.crud.selections)
      this.$refs.ban_dialog.dialog = true
      this.$refs.ban_dialog.doInit(uids)
    }, 
    toTime(date) {
      var json_date = new Date(date).toJSON()
      return new Date(+new Date(json_date) + 8 * 3600 * 1000).toISOString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '')
    },
    checkboxT(row, rowIndex) {
      let banTime = parseTime(this.toTime(row.ban_date))
      let data1 = parseTime(new Date());
      if (banTime > data1){
        return false
      }else {
        return true
      }        
    },
    [CRUD.HOOK.beforeSubmit](crud, query){
      // 获取所有角色
      // crud.query.sid = crud.query.sid.join(',')
      // console.log(crud.query.sid)
      // 获取所有权限
      // crud.query.serverid = crud.query.sid.join(',')
      // console.log(crud.query.serverid)
     
    },
  },
  watch:{
    value:function(val,oldval){
      let newindex =  val.indexOf('all'),oldindex =  oldval.indexOf('all');   //获取val和oldval里all的索引,如果没有则返回-1
      if(newindex!==-1 && oldindex===-1 && val.length>1)                       //如果新的选择里有勾选了选择所有选择所有 则 只直线勾选所有整个选项
          this.value=['all'];
      else if(newindex!==-1 && oldindex!==-1 && val.length>1)                 //如果操作前有勾选了选择所有且当前也选中了勾选所有且勾选数量大于1  则移除掉勾选所有
          this.value.splice(val.indexOf('all'),1)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
