<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      
    </div>
  </div>
</template>

<script>

export default {
  name: 'PayList',  
  data() {
    return {} 
  },  
  methods: {    
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
