<template>
  <div class="app-container">    
    <el-card>
      <div slot="header">
        <span>订单信息</span>
      </div>
      <el-row :gutter="24">
        <el-col :span="8">
          <div class="text item">渠道: </div>
          <div class="text item">服务器: </div>
          <div class="text item">玩家角色名	: </div>
          <div class="text item">角色ID	: </div>
          <div class="text item">等级	: </div>
          <div class="text item">创角日期	: </div>
          <div class="text item">试炼之塔层数	: </div>
          <div class="text item">当前关卡	: </div>
          <div class="text item">当前战力	: </div>
          <div class="text item">历史最大战力	: </div>
          <div class="text item">累计充值	: </div>
          <div class="text item">平台ID	: </div>
          <div class="text item">晶石	: </div>
          <div class="text item">总金币(钻石)	: </div>
          <div class="text item">付费金币(钻石)	: </div>
          <div class="text item">银币	: </div>
          <div class="text item">vip	: </div>
          <div class="text item">封号次数	: </div>
          <div class="text item">最后一次封禁	: </div>
          <div class="text item">上次充值时间	: </div>
          <div class="text item">最后登录日期	: </div>
          <div class="text item">用户状态	: </div>
          <div class="text item">操作	: </div>
          <div class="text item">删除玩家装备格式itemid:count,itemid:count: </div>
        </el-col>
        <el-col :span="6">
          <div class="text item">{{ user.sub_platform }}</div>
          <div class="text item">{{ user.serverid }}</div>
          <div class="text item">{{ user.nick_name }}</div>
          <div class="text item">{{ user.uid }}</div>
          <div class="text item">{{ user.base_level }}</div>
          <div class="text item">{{ user.create_date }}</div>
          <div class="text item">{{ user.tower_level }}</div>
          <div class="text item">{{ user.map_level }}</div>
          <div class="text item">{{ user.fight_power }}</div>
          <div class="text item">{{ user.max_fight_power }}</div>
          <div class="text item">{{ user.total_recharge }}</div>
          <div class="text item">{{ user.open_id }}</div>
          <div class="text item">{{ user.spar }}</div>
          <div class="text item">{{ user.money }}</div>
          <div class="text item">{{ user.pay_money }}</div>
          <div class="text item">{{ user.zeny }}</div>
          <div class="text item">{{ user.vip }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
          <div class="text item">{{ user.last_login_date }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
          <div class="text item">{{ user.payTypeName }}</div>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import { getRole } from '@/api/data/role'
import { parseTime } from '@/utils/index'
export default {
  data() {
    return {
      user: {},
    }
  },  
  methods: {    
    getRole(sid,uid) {
      //this.loading = true
      getRole({sid,uid}).then(response => {
        this.user = response.data.content
        this.loading = false
      })
    },
  }, 
  created () {
    // 接收传过来的id
    let sid = this.$route.query.sid
    let uid= this.$route.query.uid
    this.getRole(sid,uid)
  },
}
</script>

<style scoped>
  .text {
    font-size: 12px;
  }

  .item {
    padding: 6px 0;
    border: 1px solid #e6e6e6;
    margin: 2px;
    padding: 2px;
  } 
  
</style>
