<template>
  <div class="app-container">
    <!--工具栏-->
    <div class="head-container">
      <eHeader :dict="dict" :permission="permission" />
      <crudOperation :permission="permission" />
    </div>
    <!--表格渲染-->
    <el-table ref="table" v-loading="crud.loading" :data="crud.data" style="width: 95%;">
      <el-table-column type="selection" width="55" />
      <el-table-column v-if="columns.visible('sid')" prop="sid" label="服务器ID" width="80"/>
      <el-table-column v-if="columns.visible('time')" prop="time" label="开服时间">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.time) }}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="columns.visible('status')" prop="status" label="状态" align="center">
        <template slot-scope="scope">
          <div>{{ stateFormat(scope.row.status) }}</div>
        </template>
      </el-table-column>
      <el-table-column v-if="columns.visible('name')" prop="name" label="名称"/>
      <!--   编辑与删除   -->
      <el-table-column
        v-permission="['admin','job:edit','job:del']"
        label="操作"
        width="130px"
        align="center"
        fixed="right"
      >
        <template slot-scope="scope">
          <udOperation
            :data="scope.row"
            :permission="permission"
          />
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <pagination />
    <!--表单渲染-->
    <eForm :server-status="dict.server_status" />
  </div>
</template>

<script>
import crudServer from '@/api/server/server'
import eHeader from './module/header'
import eForm from './module/form'
import CRUD, { presenter } from '@crud/crud'
import crudOperation from '@crud/CRUD.operation'
import pagination from '@crud/Pagination'
import udOperation from '@crud/UD.operation'

// crud交由presenter持有
const crud = CRUD({ title: '列表', url: 'server/list', crudMethod: { ...crudServer },optShow: { add: true, edit: false, del: false,download: false }})

export default {
  name: 'Server',
  components: { eHeader, eForm, crudOperation, pagination, udOperation },
  mixins: [presenter(crud)],
  // 数据字典
  dicts: ['server_status'],
  data() {
    return {
      permission: {
        add: ['admin', 'server:add'],
        edit: ['admin', 'server:edit'],
        del: ['admin', 'server:del']
      }
    }
  },
  methods: {
    // 改变状态 
    stateFormat(val) {
      return (this.dict.label.server_status[val])
    }    
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
