<template>
  <el-dialog
    append-to-body
    :close-on-click-modal="false"
    :before-close="crud.cancelCU"
    :visible="crud.status.cu > 0"
    :title="crud.status.title"
    width="500px"
  >
    <el-form
      ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="服务器ID" prop="sid">
        <el-input-number v-model.number="form.sid"/>
      </el-form-item>
      
      <el-form-item label="开服时间" prop="time">
        <el-date-picker v-model="form.time" type="datetime" placeholder="选择日期时间"></el-date-picker>
      </el-form-item>
      <el-form-item label="gmwebIp" prop="time">
        <el-input v-model="form.gmweb_ip" :min="0" :max="999" controls-position="right" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="服务器IP" prop="server_ip">
        <el-input v-model="form.server_ip" controls-position="right" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="名称" prop="name">
        <el-input v-model="form.name" controls-position="right" style="width: 370px;"/>
      </el-form-item>
      <el-form-item v-if="form.pid !== 0" label="状态" prop="status">
        <el-radio v-for="item in serverStatus" :key="item.id" v-model="form.status" :label="item.value">
          {{ item.label }}
        </el-radio>        
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="crud.cancelCU">
        取消
      </el-button>
      <el-button :loading="crud.cu === 2" type="primary" @click="crud.submitCU">
        确认
      </el-button>
    </div>
  </el-dialog>
</template>

<script>
import CRUD, { form } from '@crud/crud'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

const defaultForm = {
  id: null,
  sid: 100,
  time:'',
  gmweb_ip:'',
  server_ip:'',
  recommend:1,
  name:'',
  status:1,
  register:0,
  open_state:0,
  test:1
}
export default {
  components: { Treeselect },
  mixins: [form(defaultForm)],
  props: {
    serverStatus: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      rules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'blur' }
        ],
        sort: [
          { required: true, message: '请输入序号', trigger: 'blur', type: 'number' }
        ],
        dept: { required: true, message: '所属部门不能为空', trigger: 'select' }
      }
    }
  },
  methods: {    
    // 提交前的验证    
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  ::v-deep .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
